#image {
	width: 97%;
	height: auto;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1%;
	padding: 1%;
	margin-bottom: 1%;
	background-color: white;
}

#rightcolumn {
	width: 97%;
	height: auto;
	border-style: solid;
	border-color: lightgrey;
	border-width: 1%;
	padding: 1%;

	background-color: white;
}