#container {
	width: 1920px;
	height: 1080px;
	float: left;
	border-width: 1px
	border-style: solid;
	border-color: white;
}

#mast {
	width: 1880px;
	height: 100px;
	padding: 10px;
	margin-top: 5px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: white;
}

#links {
		width: 1880px;
	height: 980px;
	padding: 10px;
	margin-top: 5px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: white;
}