#container {
	width: 1920px;
	height: 1080px;
	float: left;
	border-width: 1px
	border-style: solid;
	border-color: white;
}
#mast {
	width: 1880px;
	height: 100px;
	padding: 10px;
	margin-top: 5px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: white;
}

#banner {
	width: 1880px;
	height: 55px;
	margin-top: 10px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: white;
}

#leftCol {
	width: 925px;
	height: 830px;
	float: left;
	margin-top: 10px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: white;
}

#rightCol {
	width: 925px;
	height: 830px;
	float: left;
	margin-top: 10px; 
	margin-right: 5px; 
	margin-left: 5px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: white;
}
